@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Arial';
}
.container_content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px ;
}

.intro{
    position: relative;
    height: 700px;
    width: 100%;
    background: linear-gradient(103.11deg, #FF8000 0%, #FF8000 40.95%, #FFD600 100%);
}

.intro__logo{
    display: block;
    margin: 0px auto;
    padding-top: 25px;
}

.intro__texts{
    max-width: 500px;
    margin-top: 100px;
}

.intro__title{
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    color: #FFFFFF;
}

.intro__title span{
    font-weight: 900;
    font-size: 70px;
    line-height: 100px;
}

.intro__text{
    margin-top: 15px;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF; 
}

.intro__img{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.works__title.first{
    padding-top: 100px;
    font-weight: 400;
    font-size: 35px;
}

.works__title.main{
    padding-top: 15px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 50px;
}

.works__title.main2{
    padding-top: 15px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 100px;
}

.works__title{
    text-align: center;

}

.works__title.second{
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 25px;
}

.works__cards{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.works__card{
    height: 270px;
    width: 270px;
    border: 1px solid #C2C2C2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.works__card__text{
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.works__card__title{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.quote{
    width: fit-content;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.works__title.quotes{
    padding-left: 15px;
    margin-left: -5px;
    max-width: 420px;
    text-align-last: left;
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 25px;
}

.quotation{
    display: block;
    margin-top: 10px;
}

.works__main__title{
    margin-top: 75px;
    max-width: 877px;
    font-weight: 700;
    font-size: 45px;

    margin-bottom: 25px;
}

.works_hr{
    height: 4px;
    margin-bottom: 50px;
    border: 0;
    background: 4px linear-gradient(90deg, #FF8000 0%, #FFD600 100%);
    border-radius: 5px;
}

.works__text{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 100px;
}

.expenses{
    background: linear-gradient(103.11deg, #FF8000 0%, #FF8000 40.95%, #FFD600 100%);
    min-height: 835px;
}

.expenses__title{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 50px;
}

.expenses__cards{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px;
}

.expenses__card{
    max-width: 360px;
    height: 260px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expenses__card.final{
    background: linear-gradient(127.44deg, #FFD600 0%, #FF8000 100%);
border: 2px solid #FFFFFF;
}

.expenses__card__price.final, .expenses__card__text.final{
    color: #fff;
}

.expenses__card__price{
    font-weight: 900;
    font-size: 65px;
    text-align: center;
    color: #FF8B0F;
}

.expenses__card__text{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.plus{
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 50px;
}

.plus__text{
    font-weight: 700;
    max-width: 425px;
    font-size: 45px;
}

.plus__price span{
    font-weight: 900;
    font-size: 100px;
    color: #FF8000;
}

.plus__price{
    border-left: 4px solid#E5E5E5;
    padding-left: 150px;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

.client{
    overflow: hidden;
    max-width: 1040px;
    min-height: 486px;

    border: 4px solid #FF8B0F;
    box-sizing: border-box;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    margin-bottom: 100px;
}

.client__info{
    padding: 50px;
}

.client__title{
    max-width: 306px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
}

.client__text{
    max-width: 535px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}

.client__info__images{
    display: flex;
    align-items: center;
}

.client__info__img{
    margin-right: 30px;
}

.pluses__subtitle{
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(180deg, #FF8000 0%, #FF8000 36.26%, #FFD600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 100px;
}

.pluses__title{
    padding-top: 15px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 50px;
    text-align: center;
}

.pluses__text{
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

.clients{
    margin-top: 100px;
}

.client__photos{
    max-width: 100%;
}

.clients__img{
    width: fit-content;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.clients__img img{
    display: block;
    max-width: 100%;
}

.benefit{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.benefit__card{
    width: fit-content;
    height: 125px;
    padding-right: 40px;
    border-right: 4px solid #E5E5E5;
}

.benefit__card__title{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #FF8B0F;
}

.benefit__card__title span{
    margin-top: 40px;
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    color: #FF8B0F;
}

.benefit__card__text{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.prices{
    display: flex;
    justify-content: flex-end;
    min-height: 500px;
    background: url('./img/dish.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.prices__cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
}

.prices__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.prices__card{
    /*margin: 0 auto;*/
}

.prices__cardss{
    margin-top: 40px;
    margin-right: 40px;
    width: 700px;
    height: 400px;
    background: url('./img/con1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.prices__title{
    margin-top: 80px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.prices__card__text{
    font-size: 20px;
    font-weight: 400;
}

.prices__card__price{
    font-weight: 900;
    font-size: 45px;
    color: #FF8B0F;
}

.price_content{
    margin-right: 60px;
}

@media (max-width: 1000px) {
    .expenses__cards{
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .works__cards{
        grid-template-columns: 1fr 1fr ;
        justify-items: center;
        grid-gap: 20px;
        }
}


@media (max-width: 767px) {
    .intro__texts{
        max-width: 100%;
        margin-top: 0;
    }
    .intro__img{
        width: 206px;
        
    }
    .intro__title{
        width: 100%;
        font-size: 30px;
        line-height: 50px;
    }
    .intro__title span{
        font-size: 40px;
    }
    .intro__text{
        width: 100%;
        font-size: 14px;
    }

    .works__card{
        width: 155px;
        height: 155px;
        padding: 10px;
    }
    .works__cards{
        grid-template-columns: 1fr;
        justify-items: center;
        grid-gap: 20px;
    }

    .works__card__text{
        font-size: 14px;
    }
    .works__card__title{
        font-size: 18px;
    }
    .works__card__img{
        width: 70px;
        height: 70px;
    }

    .works__main__title{
        text-align: center;
        font-size: 30px;
    }

    .works__title.quotes{
        font-size: 20px;
    }
    .expenses__cards{
        grid-gap: 20px;
        grid-template-columns: 1fr ;
    }
    .expenses__title{
        font-size: 40px;
    }
    .plus{
        flex-direction: column;
        justify-content: center;
        
    }
    .plus__text{
        margin-bottom: 40px;
        text-align: center;
        font-size: 30px;
    }
    .plus__price span {
        font-size: 45px;
    }
    .plus__price{
        border-left: 0;
        padding-left: 0;
        border-top: 4px solid#E5E5E5;
        padding-top: 50px;
    }
    .client{
        display: block;
    }
    .client__info__images{
        display: block;

    }
    .client__info{
        padding: 15px;
    }
    .client__img{
        width: 100%;
    }
    .client__info__img{
        margin-right: 0px;
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
    .client__text, .client__title{
        text-align: center;
    }
    .pluses__title{
        font-size: 30px;
    }
    .pluses__subtitle{
        font-size: 50px;
    }
    .pluses__text{
        font-size: 14px;
    }
    .benefit{
        display: grid;
    grid-template-columns: 1fr 1fr;
    }
    .benefit__card__title{
        font-size: 18px;
    }
    .benefit__card__title span{
        font-size: 20px;
    }
    .benefit__card__text{
        font-size: 14px;
    }
    .benefit__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin-top: 30px;
    }
    .benefit__card:nth-child(2n){
        border-right: none;
        padding-right: 0;
    }
    .prices__cardss{
        margin-top: 40px;
        margin-right: 0px;
        width: 300px;
        height: 360px;
        background: url('./img/con2.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .prices__title{
        font-size: 30px;
        padding-top: 110px;
    }
    .prices__card__text{
        font-size: 14px;
    }
    .prices__card__price{
        font-size: 25px;
    }
    .prices{
        padding-top: 140px;
        display: block;
        background-position: top;
    }
    .price_content{
        margin-right: 0px;
    }
    .prices__content{
        display: block;
    }
    /*.benefit__card:nth-child(1), .benefit__card:nth-child(2){
        
        border-bottom: 4px solid #E5E5E5;
    }*/
}

